In [1]:
# Imports das bibliotecas
import pandas as pd
import requests

In [7]:
# URL da API
url = "https://servicodados.ibge.gov.br/api/v1/localidades/estados"
# Fazendo a requisição GET
resposta = requests.get(url)
# Verificando se deu tudo certo
if resposta.status_code == 200:
    dados = resposta.json()
    print("Dados recebidos com sucesso!")
else:
    print(f"Erro na requisição: {resposta.status_code}")

Dados recebidos com sucesso!

In [9]:
# Criando o DataFrame
df = pd.DataFrame(dados)

In [11]:
# Exibindo as 5 primeiras linhas
df.head()

   id sigla      nome                                    regiao
0  11    RO  Rondônia  {'id': 1, 'sigla': 'N', 'nome': 'Norte'}
1  12    AC      Acre  {'id': 1, 'sigla': 'N', 'nome': 'Norte'}
2  13    AM  Amazonas  {'id': 1, 'sigla': 'N', 'nome': 'Norte'}
3  14    RR   Roraima  {'id': 1, 'sigla': 'N', 'nome': 'Norte'}
4  15    PA      Pará  {'id': 1, 'sigla': 'N', 'nome': 'Norte'}

In [13]:
# Verificando o nome dos titulo (colunas)
print(df.columns)

Index(['id', 'sigla', 'nome', 'regiao'], dtype='object')

In [15]:
# Verificando os tipos de dados
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      27 non-null     int64
 1   sigla   27 non-null     object
 2   nome    27 non-null     object
 3   regiao  27 non-null     object
dtypes: int64(1), object(3)
memory usage: 996.0+ bytes
None

In [17]:
# Salvando o DataFrame como CSV no mesmo diretorio do jupyter lab.
df.to_csv("dados_Ibje_Estados.csv", index=False)
print("Arquivo CSV salvo com sucesso!")

Arquivo CSV salvo com sucesso!